.panel-form .form-group, .panel-form .row {
    margin-bottom: 0;
    padding: 7px 5px !important;
    border-bottom: 0px solid #eee !important;
}

.panel-heading {
    padding: 20px 20px !important;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel.with-nav-tabs>.panel-heading {
    padding: 15px 5px 0 5px !important;
}