.panel-form .form-group, .panel-form .row {
    margin-bottom: 0;
    padding: 7px 5px !important;
    border-bottom: 0px solid #eee !important;
}

.panel-heading {
    padding: 20px 20px !important;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.datepicker{
    z-index: 6875667!important;
}

.panel.with-nav-tabs>.panel-heading {
    padding: 15px 5px 0 5px !important;
}

table .dropdown-menu>li a {
    padding: 3px 20px;
    line-height: 20px;
    border-bottom: 1px solid #e2e2e2;
    font-size: 12px;
}

.dropdown-menu>li a {
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
}


.dropdown-menu>li a:focus, .dropdown-menu>li a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
